.container{
    position: relative;
    height: 100%;
}
.date-box{
    width: 70%;
    min-height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
}
.date {
    font-size: 6rem;
    font-weight: 800;
}
.text{
    font-size: 2rem;
}