/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Mountains of Christmas';
    font-style: normal;
    font-weight: 400;
    src: local('Mountains of Christmas Regular'), local('MountainsofChristmas-Regular'), url(./assets/3y9w6a4zcCnn5X0FDyrKi2ZRUBIy8uxoUo7eDNGsMdFqNpY.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
html, body, app-root{
    height: 100vh;
    margin: 0;
    position:absolute; 
    top:0; 
    bottom:0; 
    right:0; 
    left:0;
}
body {
    font-family: "Mountains of Christmas",Roboto, "Helvetica Neue", sans-serif;
}
